@charset "ISO-8859-1";
@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/*
	Base RGB: 4B9130 
	http://paletton.com/#uid=12I0u0kllllaFw0g0qFqFg0w0aF 
*/

* {
	font-family: 'Proxima Nova', sans-serif;
}

body {
	margin: 0px;
}

.page {
	width: 100%;
	height: 100%;
	background-color: #4A9130;
	position: fixed;
	
}
.headerline {
	background-color: #4A9130;
	position: relative;
	width: 100%;
	height:10%;
	float: left;

}

.header-left {
	text-align: left;
	width: 45%;
	float: left;
	margin-right: 25px;
	heigt: 100%;
}

.header-left-text {
	font-size: 36px;
	font-weight: bold;
	color: white;
	margin-left: 25px;
}

.header-right {
	text-align: right;
	width: 45%;
	float: left;	
	margin-left: 25px;
	height: 100%;
}

.header-right-text {
	font-size: 24px;
	color: white;
	margin-right: 25px;
	padding-top: 20px;
	font-weight: bold;
}

.appview {
	background-color: #cfd5db;
	width: 100%;
	height:85%;
	position: relative;
	float: left;
}
.historylist {
	flaot: left;
	height: 100%;
	width: 30%;
	position: absolute;
}

.historylist-buttons {
	float: left;
	height: 10%;
	width: 100%;
	background-color: white;
}

.refreshBtn {
	background-color: #73B55B;
    border: none;
    color: white;
    padding: 8px 50px;
    font-size: 24px;
   	margin-left: 10px;
   	margin-right: 10px;
   	margin-top:10px;
   	margin-bottom:2px;
    cursor: pointer;
}

.refreshBtn:hover {
    background-color: #A5DA91;
}

.historylist-emaillist {
	overflow-y: scroll; 
	float: left;
	height: 90%;
	width: 100%;
	background-color: white;
}

.email-container {
    background-color: white;
    color: black;
    width: 100%;
    height: 150px;
    padding-left: 25px;
    text-align: left;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
}

.display {
	float: right;
	width: 69.97%;
	height: 100%;
	background: green;
	border-left: 1px;
	border-left-style: solid;
}

.display-buttons {
	float: left;
	height: 10%;
	width: 100%;
	background-color: white;
}

.display-email {
	float: left;
	height: 90%;
	width: 100%;
	background-color: white;
}
.footerline {
	float:left;
	width: 100%;
	height: 5%;
	background-color: #4A9130;
	text-align: center;
    margin-top: 10px;

}

.footerlink:link, .footerlink:visited {
	color: white;
	text-decoration: none;
}

.footerlink:hover {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

